* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

body {
  overflow-y: visible; }

/* NAV */
nav {
  background: #3e3f77;
  height: 140px;
  width: 100%;
  border-bottom: 2px solid #ff2600; }
  nav ul {
    float: right;
    margin-right: 20px; }
    @media screen and (max-width: 768px) {
      nav ul {
        position: fixed;
        z-index: 3;
        width: 100%;
        height: 100vh;
        background: #0213ff;
        top: 140px;
        left: -100%;
        text-align: center;
        transition: all .5s; } }
    nav ul li {
      display: inline-block;
      line-height: 140px;
      margin: 0 5px; }
      @media screen and (max-width: 768px) {
        nav ul li {
          display: block;
          margin: 50px 0;
          line-height: 30px; } }
      nav ul li a {
        color: #fff;
        font-size: 27px;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase;
        text-decoration: none; }
        @media screen and (max-width: 768px) {
          nav ul li a {
            font-size: 18px; } }
        @media screen and (max-width: 1100px) {
          nav ul li a {
            font-size: 16px; } }

li a.active, li a:hover {
  background: rgba(255, 174, 0, 0.89);
  transition: .5s; }
  @media screen and (max-width: 768px) {
    li a.active, li a:hover {
      background: none;
      color: #ff8800; } }

.enlace {
  position: absolute;
  padding: 5px 50px; }
  .enlace .logo {
    height: 130px;
    line-height: 140px; }
  @media screen and (max-width: 1100px) {
    .enlace {
      padding-left: 20px; }
      .enlace .logo {
        height: 100px;
        margin-top: 15px; } }

.checkbtn {
  float: right;
  line-height: 150px;
  margin-right: 40px;
  cursor: pointer;
  display: none; }
  @media screen and (max-width: 768px) {
    .checkbtn {
      display: block; } }
  @media screen and (max-width: 450px) {
    .checkbtn {
      margin-right: 10px; } }

#check {
  display: none; }
  @media screen and (max-width: 768px) {
    #check:checked ~ ul {
      left: 0; } }

/* INICIO */
.wrp {
  width: 100%;
  height: 450px;
  position: relative; }
  .wrp .portada {
    width: 100%;
    height: 100%;
    background: url(../img/slide4.jpg);
    background-attachment: fixed; }
  .wrp .contenido {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(62, 63, 119, 0.548); }
    .wrp .contenido .info {
      width: 100%;
      max-width: 750px;
      text-align: center; }
      .wrp .contenido .info h2 {
        color: #ff2600;
        font-size: 50px;
        margin-bottom: 25px;
        letter-spacing: 1px; }
        @media screen and (max-width: 768px) {
          .wrp .contenido .info h2 {
            font-size: 35px; } }
      .wrp .contenido .info a {
        display: inline-block;
        text-decoration: none;
        font-size: 19px;
        padding: 10px 25px;
        color: #fff;
        background: #ff2600;
        border-radius: 50px;
        margin-bottom: 40px;
        border: 2px solid transparent;
        transition: all 30ms ease;
        letter-spacing: 0.5px; }
  .wrp .curveado {
    position: absolute;
    width: 100%;
    bottom: -10px; }
    .wrp .curveado img {
      width: 100%; }
  @media screen and (max-width: 768px) {
    .wrp {
      height: 300px; } }

.destacadas .destacadas-titulo {
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ff2600; }

.destacadas .noticias {
  display: inline-flex; }
  @media screen and (max-width: 1100px) {
    .destacadas .noticias {
      display: inline-flex; } }
  @media screen and (max-width: 768px) {
    .destacadas .noticias {
      display: block; } }
  .destacadas .noticias .card {
    margin-left: 40px;
    margin-right: 50px; }
    @media screen and (max-width: 768px) {
      .destacadas .noticias .card {
        width: 350px;
        margin-bottom: 40px; } }
    .destacadas .noticias .card a {
      text-decoration: none; }

.secciones {
  padding-top: 40px; }
  .secciones .imagenes {
    display: flex;
    flex-flow: row wrap;
    width: 100%; }
    .secciones .imagenes .imagen {
      width: 50%;
      padding: 30px; }
      .secciones .imagenes .imagen .subtitulo {
        display: flex;
        justify-content: center;
        padding: 5px 0;
        color: #ff2600;
        font-size: 35px;
        text-decoration: none; }
        @media screen and (max-width: 768px) {
          .secciones .imagenes .imagen .subtitulo {
            font-size: 20px; } }

.carousel-inner a {
  text-decoration: none; }

/* RADIO */
.transmision {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  align-items: center; }
  .transmision iframe {
    width: 100%;
    height: 500px; }
    @media screen and (max-width: 1100px) {
      .transmision iframe {
        height: 400px; } }
    @media screen and (max-width: 768px) {
      .transmision iframe {
        height: 250px; } }
  .transmision h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: #ff2600;
    padding-top: 25px; }
    @media screen and (max-width: 1100px) {
      .transmision h2 {
        font-size: 25px;
        padding-top: 15px; } }
    @media screen and (max-width: 768px) {
      .transmision h2 {
        font-size: 20px;
        padding-top: 10px; } }

.reproductor {
  display: flex;
  flex-flow: row wrap;
  width: 100%; }
  .reproductor .musica {
    width: 50%;
    padding: 40px 30px; }

/* TIENDA */
.evento {
  background-color: #3e3f77;
  display: inline-flex;
  margin-top: 20px;
  margin-left: 40px;
  padding-right: 20px; }
  @media screen and (max-width: 768px) {
    .evento {
      flex-direction: column; } }
  .evento iframe {
    width: 500px;
    height: 350px;
    margin-right: 60px; }
    @media screen and (max-width: 768px) {
      .evento iframe {
        width: 400px;
        height: 300px; } }
  .evento .info-evento {
    padding-left: 20px; }
    @media screen and (max-width: 768px) {
      .evento .info-evento {
        margin-top: 20px; } }
    .evento .info-evento h2 {
      padding-top: 20px;
      color: #ff2600;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
    .evento .info-evento h3 {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: #fff; }
    .evento .info-evento p {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 25px;
      color: #fff; }
    .evento .info-evento a {
      display: inline-block;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-decoration: none;
      font-size: 22px;
      padding: 10px 25px;
      color: #fff;
      background: #ff2600;
      margin-top: 50px;
      margin-bottom: 40px;
      border: 2px solid transparent;
      transition: all 30ms ease;
      letter-spacing: 0.5px; }
      @media screen and (max-width: 768px) {
        .evento .info-evento a {
          margin-left: 100px; } }

.proximos {
  margin-top: 60px;
  margin-bottom: 30px; }
  .proximos h2 {
    color: #ff2600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 40px;
    margin-bottom: 20px; }
    @media screen and (max-width: 450px) {
      .proximos h2 {
        margin-left: 30px; } }
  .proximos .carteles {
    display: inline-flex; }
    @media screen and (max-width: 1100px) {
      .proximos .carteles {
        display: inline-flex; } }
    @media screen and (max-width: 768px) {
      .proximos .carteles {
        display: block; } }
    .proximos .carteles .card {
      margin-left: 40px;
      margin-right: 50px; }
      @media screen and (max-width: 768px) {
        .proximos .carteles .card {
          height: 300px;
          width: 350px;
          margin-bottom: 40px; } }
      @media screen and (max-width: 450px) {
        .proximos .carteles .card {
          margin-left: 30px; } }
      .proximos .carteles .card a {
        color: #ff2600;
        text-decoration: none; }

/* NOVEDADES */
.novedades {
  display: flex;
  margin-top: 40px;
  margin-bottom: 30px; }
  @media screen and (max-width: 1100px) {
    .novedades {
      display: block; } }
  @media screen and (max-width: 768px) {
    .novedades {
      display: block; } }
  .novedades h3 {
    color: #ff2600;
    margin-left: 10px;
    margin-top: 30px; }
    @media screen and (max-width: 1100px) {
      .novedades h3 {
        margin-left: 40px; } }
  .novedades .destacadas {
    background-color: #a6a6fa;
    margin-left: 40px;
    border: 1px solid #3e3f77;
    display: inline-flex;
    height: 120px;
    width: 500px; }
    @media screen and (max-width: 768px) {
      .novedades .destacadas {
        height: 120px;
        width: 300px; } }
    @media screen and (max-width: 1100px) {
      .novedades .destacadas {
        height: 100px;
        width: 400px;
        margin-top: 20px; } }
    .novedades .destacadas .texto {
      overflow: hidden; }
      .novedades .destacadas .texto h3 {
        font-size: 20px;
        color: #3e3f77;
        margin: 10px 0 3px 10px; }
      .novedades .destacadas .texto p {
        font-size: 14px;
        margin: 0 5px 5px 10px; }

.recientes {
  border-top: 2px solid #3e3f77; }
  .recientes .tarjetas {
    background-color: #3e3f77;
    display: inline-flex;
    margin-top: 30px;
    margin-left: 40px;
    padding-right: 20px;
    width: 600px; }
    @media screen and (max-width: 768px) {
      .recientes .tarjetas {
        flex-direction: column; } }
    .recientes .tarjetas img {
      width: 300px; }
    .recientes .tarjetas .sintesis {
      padding-left: 10px;
      padding-top: 15px; }
      .recientes .tarjetas .sintesis h3 {
        color: #ff2600; }
      .recientes .tarjetas .sintesis p {
        color: #fff; }
  .recientes a {
    text-decoration: none; }

/* CONTACTO */
.formulario {
  display: inline-flex; }
  @media screen and (max-width: 768px) {
    .formulario {
      flex-direction: column; } }
  .formulario form {
    background-color: #a6a6fa;
    width: 600px;
    margin-left: 30px;
    margin-top: 20px; }
    @media screen and (max-width: 768px) {
      .formulario form {
        width: 400px; } }
    @media screen and (max-width: 450px) {
      .formulario form {
        width: 300px; } }
  .formulario .texto {
    color: #ff2600;
    margin-top: 100px; }
    @media screen and (max-width: 768px) {
      .formulario .texto {
        margin-top: 0px;
        margin-left: 15px; } }
    .formulario .texto h2 {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 40px;
      margin-left: 20px;
      margin-bottom: 40px; }
      @media screen and (max-width: 768px) {
        .formulario .texto h2 {
          font-size: 30px;
          margin-bottom: 15px; } }
    .formulario .texto h3 {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      margin-left: 20px; }

.caja {
  border-top: 1px solid #ff2600;
  margin-top: 20px; }
  .caja h2 {
    color: #3e3f77;
    margin: 50px 50px 20px 280px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
    @media screen and (max-width: 768px) {
      .caja h2 {
        margin: 25px 0 15px 0px;
        font-size: 28px; } }
    @media screen and (max-width: 1100px) {
      .caja h2 {
        margin: 40px 0px 20px 80px; } }
  .caja .contacto {
    background-color: #ff2600;
    width: 700px;
    margin: 20px 50px 20px 300px;
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    @media screen and (max-width: 768px) {
      .caja .contacto {
        width: 450px;
        margin: 20px 0px 20px 20px; } }
    @media screen and (max-width: 450px) {
      .caja .contacto {
        width: 300px; } }
    .caja .contacto a {
      text-decoration: none; }
      .caja .contacto a span {
        font-size: 50px;
        color: #fff; }

/* FOOTER */
.pie-pagina {
  width: 100%;
  background-color: #3e3f77; }
  .pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 40px 0px; }
    .pie-pagina .grupo-1 .box .red-social a {
      display: inline-block;
      text-decoration: none;
      width: 45px;
      height: 45px;
      line-height: 45px;
      color: #fff;
      margin-right: 10px;
      background-color: #6567da;
      text-align: center;
      transition: all 300ms ease; }
    .pie-pagina .grupo-1 .box h2 {
      color: #fff;
      margin-bottom: 25px;
      font-size: 20px; }
    .pie-pagina .grupo-1 .box p {
      color: #efefef;
      margin-bottom: 10px; }
    .pie-pagina .grupo-1 .box figure {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .pie-pagina .grupo-1 .box figure img {
        width: 250px;
        height: 250px; }
  .pie-pagina .grupo-2 {
    background-color: #6567da;
    padding: 15px 10px;
    text-align: center;
    color: #fff; }

.pie-pagina .grupo-1 .red-social a:hover {
  color: #ff2600; }
