@import 'variables';

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    overflow-y: visible;
}


/* NAV */

nav {
    background: $colorfondo;
    height: 140px;
    width: 100%;
    border-bottom: 2px solid $colorprincipal;
    ul {
        float: right;
        margin-right: 20px;
        @media screen and(max-width:#{$mobile}) {
            position: fixed;
            z-index: 3;
            width: 100%;
            height: 100vh;
            background: rgb(2, 19, 255);
            top: 140px;
            left: -100%;
            text-align: center;
            transition: all .5s;
        }
        li {
            display: inline-block;
            line-height: 140px;
            margin: 0 5px;
            @media screen and(max-width:#{$mobile}) {
                display: block;
                margin: 50px 0;
                line-height: 30px;
            }
            a {
                color: $colorsecundario;
                font-size: 27px;
                padding: 7px 13px;
                border-radius: 3px;
                text-transform: uppercase;
                text-decoration: none;
                @media screen and(max-width:#{$mobile}) {
                    font-size: 18px;
                }
                @media screen and(max-width:#{$tablet}) {
                    font-size: 16px;
                }
            }
        }
    }
}

li a.active, li a:hover {
    background: rgba(255, 174, 0, 0.89);
    transition: .5s;
    @media screen and(max-width:#{$mobile}) {
        background: none;
        color: rgb(255, 136, 0);
    }
}

.enlace {
    position: absolute;
    padding: 5px 50px;
    .logo {
        height: 130px;
        line-height: 140px;
    }
    @media screen and(max-width:#{$tablet}) {
        .logo {
            height: 100px;
            margin-top: 15px;
        }
        padding-left: 20px;
    }
}

.checkbtn {
    float: right;
    line-height: 150px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    @media screen and(max-width:#{$mobile}) {
        display: block;
    }
    @media screen and (max-width:#{$mobile-small}) {
        margin-right: 10px;
    }
}

#check {
    display: none;
    &:checked ~ ul {
        @media screen and(max-width:#{$mobile}) {
            left: 0;
        }
    }
}

/* INICIO */

.wrp {
    width: 100%;
    height: 450px;
    position: relative;
    .portada {
        width: 100%;
        height: 100%;
        background: url(../img/slide4.jpg);
        background-attachment: fixed;
    }
    .contenido {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(62, 63, 119, 0.548);
        .info {
            width: 100%;
            max-width: 750px;
            text-align: center;
            h2 {
                color: $colorprincipal;
                font-size: 50px;
                margin-bottom: 25px;
                letter-spacing: 1px;
                @media screen and (max-width:#{$mobile}) {
                    font-size: 35px;
                }
            }
            a {
                display: inline-block;
                text-decoration: none;
                font-size: 19px;
                padding: 10px 25px;
                color: $colorsecundario;
                background: $colorprincipal;
                border-radius: 50px;
                margin-bottom: 40px;
                border: 2px solid transparent;
                transition: all 30ms ease;
                letter-spacing: 0.5px;
            }
        }
    }
    .curveado {
        position: absolute;
        width: 100%;
        bottom: -10px;
        img {
            width: 100%;
        }
    }
    @media screen and (max-width:#{$mobile}) {
        height: 300px;
    }
}

.destacadas {
    .destacadas-titulo {
        padding-left: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        color: $colorprincipal;
    }
    .noticias {
        display: inline-flex;
        @media screen and (max-width:#{$tablet}) {
            display: inline-flex;
        }
        @media screen and (max-width:#{$mobile}) {
            display: block;
        }
        .card {
            margin-left: 40px;
            margin-right: 50px;
            @media screen and (max-width:#{$mobile}) {
                width: 350px;
                margin-bottom: 40px;
            }
            a {
                text-decoration: none;
            }
        }
    }
}

.secciones {
    padding-top: 40px;
    .imagenes {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        .imagen {
            width: 50%;
            padding: 30px;
            .subtitulo {
                display: flex;
                justify-content: center;
                padding: 5px 0;
                color: $colorprincipal;
                font-size: 35px;
                text-decoration: none;
                @media screen and (max-width:#{$mobile}) {
                    font-size: 20px;
                }
            }
        }
    }
}

.carousel-inner {
    a {
        text-decoration: none;
    }
}

/* RADIO */

.transmision {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    iframe {
        width: 100%;
        height: 500px;
        @media screen and (max-width:#{$tablet}) {
            height: 400px;
        }
        @media screen and (max-width:#{$mobile}) {
            height: 250px;
        }
    }
    h2 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 30px;
        color: $colorprincipal;
        padding-top: 25px;
        @media screen and (max-width:#{$tablet}) {
            font-size: 25px;
            padding-top: 15px;
        }
        @media screen and (max-width:#{$mobile}) {
            font-size: 20px;
            padding-top: 10px;
        }
    }
}

.reproductor {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    .musica {
        width: 50%;
        padding: 40px 30px;
    }
}

/* TIENDA */

.evento {
    background-color: $colorfondo;
    display: inline-flex;
    margin-top: 20px;
    margin-left: 40px;
    padding-right: 20px;
    @media screen and (max-width:#{$mobile}) {
        flex-direction: column;
    }
    iframe {
        width: 500px;
        height: 350px;
        margin-right: 60px;
        @media screen and (max-width:#{$mobile}) {
            width: 400px;
            height: 300px;
        }
    }
    .info-evento {
        padding-left: 20px;
        @media screen and (max-width:#{$mobile}) {
            margin-top: 20px;
        }
        h2 {
            padding-top: 20px;
            color: $colorprincipal;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        h3 {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: $colorsecundario;
        }
        p {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 25px;
            color: $colorsecundario;
        }
        a {
            display: inline-block;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-decoration: none;
            font-size: 22px;
            padding: 10px 25px;
            color: $colorsecundario;
            background: $colorprincipal;
            margin-top: 50px;
            margin-bottom: 40px;
            border: 2px solid transparent;
            transition: all 30ms ease;
            letter-spacing: 0.5px;
            @media screen and (max-width:#{$mobile}) {
                margin-left: 100px;
            }
        }
    }
}

.proximos {
    margin-top: 60px;
    margin-bottom: 30px;
    h2 {
        color: $colorprincipal;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-left: 40px;
        margin-bottom: 20px;
        @media screen and (max-width:#{$mobile-small}) {
            margin-left: 30px;
        }
    }
    .carteles {
        display: inline-flex;
        @media screen and (max-width:#{$tablet}) {
            display: inline-flex;
        }
        @media screen and (max-width:#{$mobile}) {
            display: block;
        }
        .card {
            margin-left: 40px;
            margin-right: 50px;
            @media screen and (max-width:#{$mobile}) {
                height: 300px;
                width: 350px;
                margin-bottom: 40px;
            }
            @media screen and (max-width:#{$mobile-small}) {
                margin-left: 30px;
            }
            a {
                color: $colorprincipal;
                text-decoration: none;
            }
        }
    }    
}

/* NOVEDADES */

.novedades {
    display: flex;
    margin-top: 40px;
    margin-bottom: 30px;
    @media screen and (max-width:#{$tablet}) {
        display: block;
    }
    @media screen and (max-width:#{$mobile}) {
        display: block;
    }
    h3 {
        color: $colorprincipal;
        margin-left: 10px;
        margin-top: 30px;
        @media screen and (max-width:#{$tablet}) {
            margin-left: 40px;
        }
    }
    .destacadas {
        background-color: rgb(166, 166, 250);
        margin-left: 40px;
        border: 1px solid $colorfondo;
        display: inline-flex;
        height: 120px;
        width: 500px;
        @media screen and (max-width:#{$mobile}) {
            height: 120px;
            width: 300px;
        }
        @media screen and (max-width:#{$tablet}) {
            height: 100px;
            width: 400px;
            margin-top: 20px;
        }
        .texto {
            overflow: hidden;
            h3 {
                font-size: 20px;
                color: $colorfondo;
                margin: 10px 0 3px 10px;
            }
            p {
                font-size: 14px;
                margin: 0 5px 5px 10px;
                
            }
        }
    }
}

.recientes {
    border-top: 2px solid $colorfondo;
    .tarjetas {
        background-color: $colorfondo;
        display: inline-flex;
        margin-top: 30px;
        margin-left: 40px;
        padding-right: 20px;
        width: 600px;
        @media screen and (max-width:#{$mobile}) {
            flex-direction: column;
        }
        img {
            width: 300px;
        }
        .sintesis {
            padding-left: 10px;
            padding-top: 15px;
            h3 {
                color: $colorprincipal;
            }
            p {
                color: $colorsecundario;
            }
        }
    }
    a {
        text-decoration: none;
    }
}

/* CONTACTO */ 

.formulario {
    display: inline-flex;
    @media screen and (max-width:#{$mobile}) {
        flex-direction: column;
    }
    form {
        background-color:  rgb(166, 166, 250);
        width: 600px;
        margin-left: 30px;
        margin-top: 20px;
        @media screen and (max-width:#{$mobile}) {
            width: 400px;
        }
        @media screen and (max-width:#{$mobile-small}) {
            width: 300px;
        }
    }
    .texto {
        color: $colorprincipal;
        margin-top: 100px;
        @media screen and (max-width:#{$mobile}) {
            margin-top: 0px;
            margin-left: 15px;
        }
        h2 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 40px;
            margin-left: 20px;
            margin-bottom: 40px;
            @media screen and (max-width:#{$mobile}) {
                font-size: 30px;
                margin-bottom: 15px;
            }
        }
        h3 {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            margin-left: 20px;
        }
    }
}

.caja {
    border-top: 1px solid $colorprincipal;
    margin-top: 20px;
    h2{
        color: $colorfondo;
        margin: 50px 50px 20px 280px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        @media screen and (max-width:#{$mobile}) {
            margin: 25px 0 15px 0px;
            font-size: 28px;
        }
        @media screen and (max-width:#{$tablet}) {
            margin: 40px 0px 20px 80px;;
        }
    }
    .contacto {
        background-color: $colorprincipal;
        width: 700px;
        margin: 20px 50px 20px 300px;
        padding: 20px 0 20px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        @media screen and (max-width:#{$mobile}) {
            width: 450px;
            margin: 20px 0px 20px 20px;
        }
        @media screen and (max-width:#{$mobile-small}) {
            width: 300px;
        }
        a {
            text-decoration: none;
            span {
                font-size: 50px;
                color: $colorsecundario;
            }
        }
    }
}



/* FOOTER */

.pie-pagina {
    width: 100%;
    background-color: $colorfondo;
    .grupo-1 {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 40px 0px;
        .box {
            .red-social {
                a {
                    display: inline-block;
                    text-decoration: none;
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    color: $colorsecundario;
                    margin-right: 10px;
                    background-color: rgb(101, 103, 218);
                    text-align: center;
                    transition: all 300ms ease;
                }
            }
            h2 {
                color: $colorsecundario;
                margin-bottom: 25px;
                font-size: 20px;
            }
            p {
                color: #efefef;
                margin-bottom: 10px;
            }
            figure {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }
    .grupo-2 {
        background-color: rgb(101, 103, 218);
        padding: 15px 10px;
        text-align: center;
        color: $colorsecundario;
    }
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: $colorprincipal;
}